<div class="panel panel-default">
<div class="panel-heading">
<strong>{{name}}</strong>
</div>
<div class="panel-body">

{{render 'section.layout.base-layout' this}}

{{render 'page.layout.base-layout' this}}

</div>
</div>